* {
    margin: 0 auto;
}

/* Menu de navigation (start) */

.conteneur {
    display: flex;
    border: 3px solid rgb(36, 35, 35);
    background-color: rgb(36, 35, 35);
}

.element {
   width: auto;
   height: 85px;
}

.element:nth-child(1) {
    font-size: 2em;
}

.element:nth-child(2) {
   font-size: 2em;
}

.element:nth-child(3) {
   font-size: 2em;
}

/* Menu de navigation (end) */

/* Couleur des boutons (start) */


   /* Couleur : "Menu" */
.element:nth-child(1) :hover{
   color: white;
}

.element:nth-child(1) :active{
   color: white;
}

.element:nth-child(1) :visited{
   color: white;
}

.element:nth-child(1) :link{
   text-decoration: none;
   color: white;
}

   /* Couleur : "Mise en page" */

.element:nth-child(2)  :hover{
   color: white;
}

.element:nth-child(2) :active{
   color: white;
}

.element:nth-child(2) :visited{
   color: white;
}

.element:nth-child(2) :link{
   text-decoration: none;
   color: white;
}

/* couleurs des boutons (end) */

/* page (start) */

section {
    height: 1350px;
    background-color: rgb(248, 246, 246);
}

.textone {
    font-size: 2rem;
    padding-left: 20px;
    padding-top: 10px;
}

.listeapuce {
    font-size: 1.5rem;
    text-decoration: none;
}

.secondelap {
    font-size: 2.3rem;
    padding-left: 25px;
    text-decoration: underline;
}

.secondtext {
   text-decoration: none;
    padding-left: 50px;
    font-size: 1.3rem;
}

/* page (end) */

/* Couleurs des liens (start) */

.textone, .secondtext :hover {
   color: black;
}

.textone, .secondtext :active {
   color: black;
}

.textone, .secondtext :visited {
   color: black;
}

.textone, .secondtext :link{
   text-decoration: none;
   color: black;
}

/* Couleurs des liens (end) */