 * {
     margin: 0 auto;
 }

 /* Menu de navigation (start) */

 .conteneur {
     display: flex;
     border: 3px solid rgb(36, 35, 35);
     background-color: rgb(36, 35, 35);
 }

 .element {
    width: auto;
    height: 85px;
 }

 .element:nth-child(1) {
     font-size: 2em;
 }

 .element:nth-child(2) {
    font-size: 2em;
}

/* Menu de navigation (end) */

/* Couleur des boutons (start) */


    /* Couleur : "Menu" */
.element:nth-child(1) :hover{
    color: white;
}

.element:nth-child(1) :active{
    color: white;
}

.element:nth-child(1) :visited{
    color: white;
}

.element:nth-child(1) :link{
    text-decoration: none;
    color: white;
}

    /* Couleur : "Mise en page" */

.element:nth-child(2)  :hover{
    color: white;
}

.element:nth-child(2) :active{
    color: white;
}

.element:nth-child(2) :visited{
    color: white;
}

.element:nth-child(2) :link{
    text-decoration: none;
    color: white;
}

/* couleurs des boutons (end) */

/* page (start) */

section {
    height: 225px;
    background-color: rgb(248, 246, 246);
}

.firsttext {
    font-size: 1.3rem;
    margin-left: 20px;
    padding-top: 1Opx;
}

/* page (end) */

/* Couleurs des liens (start) */

.firsttext :hover {
    color: rgb(97, 118, 240);
}

.firsttext :active {
    color: rgb(97, 118, 240);
}

.firsttext :visited {
    color: rgb(97, 118, 240);
}

.firsttext :link{
    color: rgb(97, 118, 240);
}

/* Couleurs des liens (end) */